@use '../../styles/markdown-style'as *;
@use 'prismjs/themes/prism-tomorrow'as *;

.post-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin-bottom: 20px;
}

::selection {
  background-color: #afb0de75;
}

h2 {
  color: var(--main-color);
  border-bottom: 1px solid var(--post-card-border-color);
  padding-bottom: 2%;
}
